/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// MOD TAB CTRL Z
&mt {
    tapping-term-ms = <200>;
};

// SHIFT AND CAPSLOCK
/ {
    behaviors {
        td1: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHIFT>, <&kp CAPSLOCK>, <&kp CAPSLOCK>;
        };
    };
    };

/ {
    macros {
        zed_em_kay: zed_em_kay {
            label = "ZM_zed_em_kay";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp HOME>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp END>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp BSPC>
                ;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_hash {  
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp HASH>;
        };
       combo_tab {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp TAB>;
        };
       combo_sel_line_home {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp LS(HOME)>;
        };
       combo_sel_line_end {
            timeout-ms = <50>;
            key-positions = <8 9>;
            bindings = <&kp LS(END)>;
        };      
       combo_prev_line {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&kp LC(LA(LEFT))>;
        };  
        combo_win_copy {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp LG(V)>;
        };         
       combo_last_line {
            timeout-ms = <50>;
            key-positions = <21 23>;
            bindings = <&kp LC(END)>;
        };        
       combo_at {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp AT>;
        };   
       combo_mul {
            timeout-ms = <50>;
            key-positions = <6 7>;
            bindings = <&kp KP_MULTIPLY>;
        };
        combo_equal {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp EQUAL>;
        };    
        combo_plus {
            timeout-ms = <50>;
            key-positions = <26 27>;
            bindings = <&kp KP_PLUS>;
        };           
        combo_and {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp AMPS>;
        }; 
        combo_right_word {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LS(LC(RIGHT))>;
        }; 
        combo_excel {
            timeout-ms = <50>;
            key-positions = <22 23>;
            bindings = <&kp EXCL>;
        };         
        combo_right_bksp { 
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&kp BSPC>;
        };        
        combo_del_line {
            timeout-ms = <50>;
            key-positions = <12 17>;
            bindings = <&zed_em_kay>;
        };   
        combo_top { 
            timeout-ms = <50>;
            key-positions = <1 3>;
            bindings = <&kp LC(HOME)>;
        };  
        combo_shift_tab { 
            timeout-ms = <50>;
            key-positions = <11 13>;
            bindings = <&kp LS(TAB)>;
        };          
        combo_bot { 
            timeout-ms = <50>;
            key-positions = <21 23>;
            bindings = <&kp LC(END)>;
        }; 
        combo_copy {
            timeout-ms = <45>;
            key-positions = <11 12 13>;
            bindings = <&kp LC(C)>;        
        };
        combo_paste {
            timeout-ms = <45>;
            key-positions = <16 17 18>;
            bindings = <&kp LC(V)>;     
        };  
       select_all {
            timeout-ms = <45>;
            key-positions = <21 22 23>;
            bindings = <&kp LC(A)>;     
        };
        undo_recent {
            timeout-ms = <45>;
            key-positions = <26 27 28>;
            bindings = <&kp LC(Z)>;     
        }; 
        redo_recent {
            timeout-ms = <45>;
            key-positions = <26 28>;
            bindings = <&kp LC(LS(Z))>;     
        };
      ctrl_w {
            timeout-ms = <45>;
            key-positions = <16 18>;
            bindings = <&kp LC(W)>;     
        };
        
    };
};

    
/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  Q  |  W  |  E  |  R  |  T   |   |  Y  |  U   |  I  |  O  |  P  |
// |  A  |  S  |  D  |  F  |  G   |   |  H  |  J   |  K  |  L  |  ;  |
// |  Z  |  X  |  C  |  V  |  B   |   |  N  |  M   |  ,  |  .  |  /  |
//             | GUI | NAV | SHFT |   | SPC | SYM  | ALT |
                        bindings = <
   &kp Q  &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P
   &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp RET
   &mt LCTRL Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH
          &kp LGUI &mo 1 &lt 3 SPACE &td1 &mo 2 &kp LCTRL
                        >;
                };
                nav_layer {
// -----------------------------------------------------------------------------------------
// |BTCLR|     | ESC |  ~   |     |   | TAB | HOME |  UP  | END | DEL  |
// | BT1 | GUI | ALT | CTRL | NUM |   |  /  | LEFT | DOWN | RGT | BKSP |
// | BT2 |     |     |      |     |   |  \  | ENT  |      |     |      |
//             |     |      |     |   |     |      |      |
                        bindings = <
   &kp HOME   &kp UP       &kp END        &kp RET     &kp KP_PLUS         &kp KP_MULTIPLY    &kp LG(LC(RIGHT))    &kp MINUS      &kp SQT     &kp LC(BSPC)
   &kp LEFT   &kp DOWN     &kp RIGHT      &kp DEL     &kp EQUAL           &kp LC(LA(TAB))    &kp BSPC             &kp UNDER      &kp DQT     &kp COLON
   &kp LC(C)  &kp LC(V)    &kp LALT       &kp BSPC    &kp BSLH            &kp PIPE           &kp LG(LC(LEFT))     &kp LT         &kp GT      &kp QMARK
                            &kp LC(A)    &trans     &kp TILDE          &kp LSHIFT  &kp ESC   &kp GRAVE
                        >;
                };

                sym_layer {
// -----------------------------------------------------------------------------------------
// |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |
// |     |     |     |     |     |   |  -  |  =  |  {  |  }  | "|" |
// |     |     |     |     |     |   |  _  |  +  |  [  |  ]  |  \  |
//             | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp LPAR    &kp LS(LC(HOME))          &trans    &kp LS(LC(END))            &kp EXCL        &kp DOLLAR &kp PRCNT     &kp CARET         &kp 0     &kp RPAR
   &kp LBRC    &kp LS(LC(LEFT))          &kp KP_N5     &kp LS(LC(RIGHT))          &kp AT          &kp MINUS  &kp TAB       &kp HASH          &kp SEMI       &kp RBRC
   &kp LBKT    &kp KP_N1                 &kp KP_N2     &kp KP_N3  &kp KP_N0       &kp AMPS   &bt BT_SEL 0  &bt BT_SEL 1      &bt BT_SEL 2   &kp RBKT
                       &kp LALT  &mo 1 &kp LC(DEL)             &kp LS(FSLH)      &trans         &kp LS(TAB)
                        >;
                };

// This layer is unreachable until "tri layer state" is sorted out.
// Leaving it here for completeness.
                num_layer {
// -----------------------------------------------------------------------------------------
// |     |     |     |     |     |   |  A  |  7  |  8  |  9  |  D  |
// |     |     |     |     |     |   |  B  |  4  |  5  |  6  |  E  |
// |     |     |     |     |     |   |  C  |  1  |  2  |  3  |  F  |
//             |     |     |     |   |  0  |  .  |     |
                        bindings = <
   &kp LC(LS(M))  &kp LS(LC(UP))        &kp AT      &kp HASH      &bt BT_CLR     &kp PAGE_UP     &kp N7  &kp N8 &kp N9 &kp LC(TAB)
   &kp LS(LC(LEFT))        &kp LS(LC(DOWN))  &kp LS(LC(RIGHT))    &trans  &trans                 &kp PAGE_DOWN   &kp N4  &kp N5 &kp N6 &kp LC(LS(TAB))
   &kp LC(Z)        &trans          &trans      &trans         &trans           &kp N0          &kp N1  &kp N2 &kp N3 &trans
                 &trans &trans &kp LOCKING_NUM   &trans &kp DOT &kp LC(LA(DEL))
                        >;
                };
        };
};
